@use 'style';

.react-calendar {
    margin: 0 auto 2rem;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid style.$lightGray;
    border-radius: 3px;

    font-family: 'Nunito', sans-serif;
}


// DAY TILE

// month title
.react-calendar__navigation__label__labelText {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

// date numbers
.react-calendar__month-view__days__day {
    font-family: 'Nunito', sans-serif;
    transition: all .1s ease;
    font-weight: 600;

    &.has-todo {
        box-shadow:inset 0 0 0 5px style.$accentDarker;
    }
}
