@use 'variables';

.react-calendar {
    margin: 0 auto 2rem;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid variables.$lightGray;
    border-radius: 3px;

    font-family: 'Nunito', sans-serif;
}


// DAY TILE

// month title, cells
.react-calendar__navigation__label__labelText,
.react-calendar__tile {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: all .2s ease;
}

.has-todo abbr {
    color: variables.$whitish;
    background-color: variables.$blackish;
    padding: .1rem .3rem;
    border-radius: 3px;
    font-weight: bold;
}

//.react-calendar__month-view__days__day { // cells on month view
// abbr { // date number
// .react-calendar__tile--now { // today
//.react-calendar__tile--active { // selected tile (doesn't account for focus)