.has-todo {
    background-color: #22854b;
    color: white;
}
.has-todo:hover {
    background-color: #3cb26d !important;
}

.has-todo.react-calendar__tile--now {
    background-color: #96b730;
    color: white;
}
.has-todo.react-calendar__tile--now:hover {
    background-color: #aad03b !important;
    color: white;
}

.todo-popup {
    z-index: 1;
    opacity: 0;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    background: linear-gradient(90deg, #22854b, #2ba960);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;

    transition: opacity .5s ease, top 0s ease .5s;
}
.has-todo:hover > .todo-popup {
    top: 0;
    opacity: 1;
    transition: opacity .5s ease, top 0s ease;
}

.todo-popup ul,
.todo-popup li {
    padding: 0;
    margin: 0;
}
.todo-popup ul {
    padding: 1rem 1rem 1rem 2rem;
}