@use 'variables';

.footer {
    margin-top: 3rem;
    margin-bottom: -1rem;

    display: flex;
    justify-content: right;

    &__info-button {
        position: relative;
        z-index: 1;

        transition: all .3s ease;

        &--active {
            background-color: variables.$whitish;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

            svg {
                display: inline-block; // required for vertical align
                vertical-align: middle;
            }

            path {
                stroke-width: 3px;
                stroke: black;
            }
        }
    }
}

.overlay {
    opacity: 0;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, .5);

    justify-content: center;
    align-items: center;

    transition: opacity .1s ease;

    &__window {
        position: relative;
        max-width: 350px;
        margin: 2rem;
        padding: 2rem;

        background-color: variables.$whitish;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        border-radius: 5px;

        transition: opacity .3s ease;
    }

    &__p + &__p {
        margin-top: 1rem;
    }

    &__a {
        color: #27aac7;
        font-weight: 600;
        text-decoration: none;
    }
}
