@use 'variables';

.nav {
    margin: 0 -1rem 2rem;

    &__list {
        margin: 0;
        list-style: none;

        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 1rem;
    }

    &__item {
        line-height: initial; // negate general styling
    }

    &__link {
        padding: .3rem .6rem;
        background: linear-gradient(variables.$whitish 50%, variables.$blackish 50%);
        background-position: 0 5%;
        background-size: 100% 200%;

        text-decoration: none;
        text-transform: uppercase;
        font-size: .7rem;
        font-weight: 700;
        font-family: 'Nunito', sans-serif;
        letter-spacing: 1px;
        color: variables.$blackish;

        transition: all .3s ease;

        &--active {
            color: variables.$whitish;
            background-position: 0 100%;
            border-radius: 3px;
        }
    }
}
