@use 'variables';

.notes {

    &__item {
        text-decoration: underline solid variables.$accent 3px;
        cursor: pointer;
        transition: all .3s ease;

        &--selected {
            font-weight: 700;
            text-decoration-color: #67cde5;
        }

        &--new {
            @include variables.new-element-slide-in-animation;
        }
    }

    &__textarea {
        @include variables.input-style-1;
    }
}
