@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Nunito', sans-serif;
*/


$accent: #bbe7f1;


// GENERAL STYLING

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1rem 2rem 2rem;
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;

    font-family: 'Nunito', sans-serif;
}

h1 {
    margin: 2rem 0;
}

p {
    line-height: 1.5;
}

ul {
    margin-left: 1rem;
    padding-left: 0;
}

input[type="checkbox"] {
    margin-right: .5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

label + button {
    margin-left: .5rem;
}


// MIXINS

@mixin input-style-1 {
    padding: .5rem;
    margin: .5rem 0;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #bebebe;
    border-radius: 3px;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;

    &:focus {
        outline: 3px solid $accent;
    }
}

@mixin new-element-slide-in-animation {
    animation: new-element-slide-in-animation .5s ease;
    animation-fill-mode: forwards;

    @keyframes new-element-slide-in-animation {
        from {
            max-height: 0;
            opacity: 0
        }
        to {
            max-height: 100px;
            opacity: 1
        }
    }
}


// STYLE MODULES

.page-title {
    margin: 2rem 0;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.button-style-1 {
    padding: .3rem .5rem;
    color: white;
    background-color: black;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    font-size: .7rem;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: right;

    & > * {
        flex: 1;
    }
}

.input-wrapper {
    display: flex;
    flex-direction: column;

    &__label {
        font-size: .8rem;
        color: gray;
    }

    &__input {
        @include input-style-1;
    }
}
