@use 'style';

.todo-app {

    &__todos-left {
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: .7rem;
    }
}

.react-date-picker__wrapper {
    @include style.input-style-1;
}